/* Universal styles */

body{
  margin:0;
  font-family: Helvetica;
  font-size: 22px;
  color:seashell;
  background-color: black;
  opacity: .5;
  text-align: center;
  align-items: center;
}

a {
  text-decoration: underline;
  color:seashell;
}

h2{
  margin-bottom: 15px;
}

/*Header section*/

header{
  display:flex;
  z-index:1;
  position:fixed;
  height:69px;
  width:100%;
  border-bottom: 1px solid seashell;
  align-items: center;

}

.logo{
  display:flex;
  flex-grow: 1;
  align-items:center;
  margin-left: 10px;
}

.logo img{
  height:50px;
  width: 157.141px;
}

header nav{
  display:block;

}
nav span{
  display:inline-block;
  justify-content: space-between;
  padding: 20px 10px;


}
